

#slideshow-wrapper {
  width: 1200px;
  height: 500px;
  margin:30px auto;
}

#slideshow {
  margin-bottom: 5px;
  width: 1200px;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

#slideshow img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.circle {
  margin-right: 15px;
  display: inline-block;
  background-color: lightgrey;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}
